* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.content {
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding: 0;
}


.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #eaebec;
/*	opacity: 0.4;
    filter: alpha(opacity=40);*/
}

.top-navigation .content{
	width: 65%;
}

.top-navigation .links {
	float: right;
	font-family: 'Cabin', sans-serif;
	color: #422B56;
	font-size: 1em;
	margin-top: 1em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 30%;
	margin-top: 1em;
	margin-right: 30%;
}

.top-navigation .links li a {
	text-decoration: none;
	color: #422B56;
}

.top-navigation .links li a:hover {
	 color: #BCA659;

}
.shopping-list {
	margin-top: 100px;
	display: block;
	position: fixed;
	margin-right: 30%;
	margin-left: 30%;
	border: solid 2px green;
	padding-right: 1em;
	padding-left: 1em;
	border-radius: 20px;
/*	max-width: 30rem;*/
	/*width: 40%;
*/
}
.shopping-list h1 {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 2rem;
	-webkit-font-smoothing: antialiased;
}
.list {
	width: 100%;
	padding: 0px;
	display: inline-block;
}
/*.list ul{
	margin:0px;
	padding:0;
	width: 100%;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;*/
}

.items-list {
	display: list-item;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	padding-top: 0.5em;
	width: 100%;
	padding-bottom: 0.6em;
	line-height: 110%;
}

.list :hover {
	background-color: gray;
	border-radius: 0.4em;
}

.items-list li {
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.7em;
}

.box {
	font-size: 1.1em;
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	max-width: 10%;
	padding-top: 0.7rem;
	padding-left: 0.4rem;
	padding-bottom: 0.5em;
	line-height: 110%;
/*	height: 17px;
	width: 17px;*/
}


.items-list span {
	display: inline-block;
	max-width: 80%;
	font-family: 'Cabin', sans-serif;
	font-size: 1.1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-bottom: 0.5em;
	line-height: 110%;
	padding-top: 0.7rem;
/*	letter-spacing: 0.01em;*/
	-webkit-font-smoothing: antialiased;

}

.remove {
	float: right;
	margin-top: 0px;
	max-width: 10%;
	padding-top: 0.7rem;
	padding-right: 0.4rem;
	padding-bottom: 0.5em;
	line-height: 110%;
}

.remove :hover {
	color: red;
}

/*.text {
	width: 80%;
}*/

.fl {
	float:left;
}
.fr {
	float:right;
}
.clear{
	clear:both;
	height:1px;
}
.form-button {
	display: block;
/*	text-align: center;*/
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	max-width: 90%;
	padding-bottom: 1rem;
	border-bottom: 1px solid #eaebec;

}
.forms {
	float: left;
	margin-right: 0.5rem;
}
.forms input {
	width: 11.5rem;
	font-size: 1rem;
	padding: 0.5rem;
}

button {
	width: 7rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 0.5rem;
	color: white;
	font-size: 1rem;
	float: right;
/*	display: block;*/
/*	margin: 0 auto;*/
}
