* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	background-image: url("../images/shopping_supermarket3.jpg");
    background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	height: 100%;

}

.shopping-list {
	margin: 2rem auto;
	display: block;
	position: relative;
	max-width: 400px;
	width: 90%;
	border: solid 1px #F0EEEA;
	padding-right: 1em;
	padding-left: 1em;
	border-radius: 20px;
	background-color: #F0EEEA;
	opacity: 0.9;
    filter: alpha(opacity=90);
}

.shopping-list h1 {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 2rem;
	-webkit-font-smoothing: antialiased;
}
.list {
	width: 100%;
	padding: 0px;
	display: inline-block;
}

.items-list {
	display: list-item;
	margin: 0;
	width: 100%;
	padding-bottom: 0.2em;
	line-height: 110%;
	cursor: move;
}

.list :hover {
	background-color: #D59127;
	border-radius: 0.4em;
}

.items-list li {
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.7em;

}

/*.box {
	font-size: 1.1em;
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	max-width: 10%;
	padding-top: 0.7rem;
	padding-left: 0.4rem;
	padding-bottom: 0.5em;
	line-height: 110%;
	cursor:pointer;
}*/

/*.box {
	font-size: 1.1em;
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	max-width: 10%;
	padding-top: 0.7rem;
	padding-left: 0.4rem;
	padding-bottom: 0.5em;
	line-height: 110%;
	cursor:pointer;
	border: 1px solid red;
}*/

.box-unchecked, .box-checked {
	font-size: 1.1em;
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	max-width: 10%;
	padding-top: 0.7rem;
	padding-left: 0.4rem;
	padding-bottom: 0.5em;
	line-height: 110%;
/*	cursor:pointer;*/
}

.box-unchecked {
	display: inline-block;
}
.box-checked {
	display: none;
}

.items-list i {
	cursor: pointer;
}

.items-list span {
	display: inline-block;
	max-width: 80%;
	font-family: 'Cabin', sans-serif;
	font-size: 1.1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-bottom: 0.5em;
	line-height: 110%;
	padding-top: 0.7rem;
	-webkit-font-smoothing: antialiased;

}




.text-unchecked {
	color: #26201D;
}

.text-checked {
/*	color: #7AA521;*/
	text-decoration: line-through;
}


.remove {
	float: right;
	margin-top: 0px;
	max-width: 10%;
	padding-top: 0.7rem;
	padding-right: 0.4rem;
	padding-bottom: 0.5em;
	line-height: 110%;
	color: #26201D;
	display: none;
}

.remove :hover {
	color: #721215;
	cursor: pointer;
}

.fl {
	float:left;
}
.fr {
	float:right;
}
.clear{
	clear:both;
	height:1px;
}
.form-button {
	display: inline-block;
	width: 100%;
	padding-bottom: 1rem;
	border-bottom: 1px solid #eaebec;
	text-align: center;

}
.forms {
	float: left;
	margin-right: 0.1rem;
	position: relative;
	width: 70%;
}
.forms input {
	margin: 0;
	width: 90%;
	position: relative;
	float: left;
	font-size: 1rem;
	padding: 0.5rem;
}

button {
	width: 6em;
	background-color: #ED4852;
	border-color: #ED4852;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 0.5rem;
	color: white;
	font-size: 1rem;
	float: right;
}

button:hover {
	background-color: #B0353D;
	border-color: #B0353D;
	cursor: pointer;

}

.fa-check-square {
/*	color: #7AA521;*/
	color: #26201D;
}

